:root{
    --bg-button: #8AACBD;
    --border-button: solid 1px #6F99AE;
}

.button{
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    font-weight: 600;

     
}

.button:hover{
    background-color: #a0c1d1c9;

}

.button:active{
    background-color: #5d7986;
}

.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: #eb7d17;
    color:aliceblue;
}

.button.operation:hover{
    background-color: #f7dd5e;
}

.button.operation:active{
    background-color: #918447;
}